<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://static.zongheng.com/favicon.ico"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>小说抓取</title>
    <style>
        a {
            cursor: pointer;
        }

        th {
            text-align: center;
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">小说管理</a>
        </div>
    </div>
</nav>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th style="width: 20%">名称</th>
        <th>说明</th>
        <th style="width: 30%">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>单本</td>
        <td><input type="text" name="fiction_url" id="fiction_url" class="form-control" placeholder="请输入小说首页地址"></td>
        <td>
                <span class="input-group-btn">
              <button onclick="write_fiction()" type="button" class="btn btn-warning">抓取小说</button>
              <a class="btn btn-success" th:href="@{/index}" target="_blank">阅读小说</a>
         </span>
        </td>
    </tr>
    <tr>
        <td>批量</td>
        <td><input type="text" name="fiction_urls" id="fiction_urls" class="form-control" placeholder="请输入小说首页地址"></td>
        <td>
              <span class="input-group-btn">
              <button onclick="write_fictions()" type="button" class="btn btn-warning">抓取小说</button>
              <a class="btn btn-success" th:href="@{/index}" target="_blank">阅读小说</a>
         </span>
        </td>
    </tr>
    <tr>
        <td style="color: red">小说来源</td>
        <td>
            <span style="font-weight: bold">批量抓取小说示例地址:</span><a
                href="http://www.b5200.org/xuanhuanxiaoshuo/">抓取地址</a>
            <br>
            <span style="font-weight: bold">单本抓取小说示例地址:</span><a href="http://www.b5200.org/52_52516/">抓取地址</a>
        </td>
        <td>
             <span class="input-group-btn">
                 <a href="http://www.b5200.org" type="button" class="btn btn-link">前往</a>
         </span>
        </td>
    </tr>
    </tbody>
</table>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    ctxPath = /*[[@{/}]]*/ '';
    /*]]>*/

    //抓取单本小说
    function write_fiction() {
        var _url = $("#fiction_url").val();
        $.ajax({
            url: ctxPath + "sys/write",
            type: "POST",
            data: {"fiction_url": _url},
            dataType: 'json',
            success: function (res) {
                alert(res.msg);
                this.message = res.msg;
            }
        })
    }

    //批量抓取小说
    function write_fictions() {
        var _url = $("#fiction_urls").val();
        alert(_url);
        $.ajax({
            url: ctxPath + "sys/writes",
            type: "POST",
            data: {"fiction_urls": _url},
            dataType: 'json',
            success: function (res) {
                alert(res.msg);
            }
        })
    }
</script>
</html>
